SCIBOWL_DATA_DIR=data
SCIBOWL_CONFIG_DIR=configs
SCIBOWL_WRITER_PROVIDER=
SCIBOWL_WRITER_MODEL=
SCIBOWL_WRITER_BASE_URL=
SCIBOWL_WRITER_API_KEY=
SCIBOWL_WRITER_TEMPERATURE=0.2
SCIBOWL_VERIFIER_PROVIDER=
SCIBOWL_VERIFIER_MODEL=
SCIBOWL_VERIFIER_BASE_URL=
SCIBOWL_VERIFIER_API_KEY=
SCIBOWL_VERIFIER_TEMPERATURE=0.0
